@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.header-section {
  display: inline-block;
}

.logo {
  height: 275px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.nav ul,
li {
  display: inline-block;
  justify-content: space-between;
  display: flex;
}
