@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* Header Styling */
.header-section {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  padding: -20px;
  /* height: 160px; */
  background-color: rgb(26, 26, 26);
  z-index: -1;
}

.nav-div {
  display: flex;
  /* flex-direction: row; */
}

.logo {
  height: 180px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.logo-div {
  display: flex;
}

.nav {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding-top: 30px;
}

.nav li {
  display: inline;
  justify-content: space-between;
  padding: 0.5em 2em;
  color: white;
  text-decoration: border rgb(255, 255, 255);
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.698);
}

/* Hero/Landing page styling */
.signup-hero {
  background-image: linear-gradient(
      rgba(220, 220, 220, 0.3),
      rgba(220, 220, 220, 0.3)
    ),
    url('./assets/images/landing-page.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* z-index: 1; */
}

/* Gallery/modal CSS */
.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: var(--darker);
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modalButton {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: gold;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.signup-btn {
  background-color: rgb(73, 153, 140);
  border-radius: 30px;
  font-size: 17px;
  padding: 6px 28px;
  font-weight: bolder;
  color: white;
  border: none;
}

.hero-text {
  color: white;
  text-align: center;
  align-items: center;
  padding: 180px;
}

.promo {
  font-size: 50px;
  font-weight: bolder;
}

.promo-text {
  color: black;
  font-weight: bolder;
}

/* Footer styling */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 3px;
  background-color: rgb(26, 26, 26);
  color: white;
}

.social-media {
  float: left;
  position: relative;
}

.rights {
  float: right;
  position: relative;
}

/* About page styling */

.about {
  display: flex;
  justify-content: space-evenly;
}

.about-bckgrd {
  background-image: url('./assets/images/andrea-donato-MNu0n-3BIKs-unsplash.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.about-p {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 700px;
  width: 700px;
  color: white;
  text-align: center;
  padding: 0 1em;
}

.about-img {
  display: flex;
  height: auto;
  width: 400px;
}

.about-img-div {
  /* margin-right: 20px; */
}
.about-h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

/* Signup page stlying */
.signup-section {
  text-align: center;
  padding: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/gallery/0.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgb(255, 255, 255);
}

.signup-heading {
  font-size: 75px;
  font-weight: 700;
}

.signup-form {
  padding: 50px;
}

.signup-label {
  padding: 20px 20px;
  align-items: center;
  font-size: 20px;
}

.signup-form input {
  border-radius: 7px;
  border: none;
}

.submit-btn {
  background-color: rgb(73, 153, 140);
  font-size: 18px;
  padding: 6px;
  margin: 10px;
  font-weight: bolder;
  border: none;
  color: white;
}

.submit-btn-div {
  padding: 30px;
}

/* Login Page styling */
.login-page {
  text-align: center;
  padding: 100px;
  height: 100vh;
  position: relative;
  color: black;
  background-image: linear-gradient(
      rgba(220, 220, 220, 0.3),
      rgba(220, 220, 220, 0.3)
    ),
    url('./assets/images/chris-knight-_H1XXY96pqw-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.login-title {
  font-size: 75px;
  font-weight: 700;
  color: white;
}

.login-form {
  padding: 50px;
}

.login-label {
  padding: 20px 20px;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.login-form input {
  border-radius: 7px;
  border: none;
}

.login-btn {
  background-color: rgb(73, 153, 140);
  font-size: 18px;
  padding: 6px;
  margin: 10px;
  font-weight: bolder;
  border: none;
  color: white;
}

.login-btn-div {
  padding: 30px;
}

/* Contact Styling */
.contact {
  background-image: linear-gradient(
      rgba(220, 220, 220, 0.3),
      rgba(220, 220, 220, 0.3)
    ),
    url('./assets/images/reis-26-1_DAlXy0wng-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container-form {
  padding: 20px 0px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding: 20px 0px 20px;
  color: white;
}

.contact-form {
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-submit-btn {
  background-color: rgb(73, 153, 140);
  font-size: 18px;
  padding: 5px;
  margin: auto;
  font-weight: bolder;
  border: none;
  border-radius: 50px;
  width: 100px;
  color: white;
}

.form-label {
  padding: 8px;
  font-weight: bolder;
  font-size: 20px;
  color: white;
}

.form-control {
  width: 25%;
  display: inline-block;
}

.textarea {
  width: 30%;
  display: inline-block;
  /* margin: 5px 0 0 25px; */
}

/* profile page styling */
.profile-page {
  background-color: rgb(130, 130, 130);
  height: 100vh;
  width: 20%;
  display: flex;
}

.sidebar {
  /* height: 100vh; */
  /* width: 20%; */
  position: relative;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}

.profile-pic {
  justify-content: center;
}

.profile-pic img {
  /* border-radius: 200px; */
  /* border: solid black; */
}

.profile-body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  max-height: 100vh;
  padding: 20px 20px;
  overflow-y: scroll;
  padding-bottom: 75px;
}

.profile-wrapper {
  display: flex;
  background-color: rgb(130, 130, 130);
  height: 100%;
  padding-bottom: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 300px;
  margin: 4px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.save-btn {
  background-color: rgb(73, 153, 140);
  border-radius: 30px;
  font-size: 17px;
  padding: 6px 28px;
  font-weight: bolder;
  color: white;
  border: none;
}

.profile-input {
  border-radius: 7px;
  border: none;
  padding: 0 20px;
}
.profile-input-int {
  border-radius: 7px;
  border: none;
  padding: 20px 20px;
  margin-left: 50px 50px;
  height: 7em;
}

.enter-haircut {
  padding: 2.5em;
}

@media only screen and (max-width: 768px) {
  .hero-text {
    padding: 2em;
  }
  .signup-section {
    padding: 2em;
  }
  .about-bckgrd {
    /* padding: 0 2em; */
    flex-wrap: wrap;
    position: absolute;
  }
  .about-p {
    flex-wrap: wrap;
    flex-direction: row;
    display: inline-block;
    padding: 0 7em;
  }
  .about {
    /* flex-wrap: wrap; */
    padding: 1em;
  }
  .about-img-div {
    display: none;
  }
  .contact-form {
    padding: 0.75em;
  }
}
